body {
    background-color: #f0f8ff;
    color: #333;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    color: #0056b3;
}

.container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
}

.content {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.thumbnail {
    width: 150px;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
    margin:10px;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.gallery img {
    margin: 5px;
    border-radius: 8px;
}

.map {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #555;
}
